[submodule "kirby"]
	path = kirby
	url = https://github.com/getkirby/kirby.git
[submodule "site/plugins/bibtex"]
	path = site/plugins/bibtex
	url = https://github.com/simonlouschueler/kirby-bibtex.git
