@import url("normalize.css");
@import url("fonts.css");

:root {

  /* Colors */

  --text-primary: #353D37;
  --text-secondary: #72746E;
  --text-tertiary: #353D3770;
  --text-quaternary: #353D3740;
  
  --green-light: #7F9283;

  --accent: #FF4B14;
  --accent-secondary: #FF4B1485;
  --accent-transparent: #FF4B1420;
  --accent-transparent-light: #FF4B1409;
  
  --fill: #7E8C8315;

  --background: #FDF9EE;
}

::selection {
  background: var(--accent-transparent);
}

*:focus-visible {
  outline-color: var(--accent);
  outline-style: solid;
  outline-offset: -1.5px;
  outline-width: 1.5px;
}

html {
  background: var(--background);
}

* {
  font-display: block;
  text-rendering: optimizeLegibility;
  
  scroll-behavior: smooth;
  
  font-family: "Nice", serif;
  font-weight: 400;
  font-variation-settings: "opsz" 6;
  line-height: 1.6;
  text-wrap: pretty;

  color: var(--text-primary);
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  
  display: flex;
}

main {
  flex: 1;
  margin: 0 auto;

  width: 100%;
  max-width: 50rem;

  display: flex;
  flex-direction: column;

  padding: 0 2rem;
}

p,
p *,
ul,
ul * {
  hyphens: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-break: strict;
}

h1 {
  font-style: italic;
  font-size: 3.25rem;
  font-weight: 600;
  line-height: 1.0;
  letter-spacing: -0.8;
  font-variation-settings: 'opsz' 24;
}

h2 {
  font-style: italic;
  font-size: 2.25rem;
  font-weight: 650;
  line-height: 1.2;
  font-variation-settings: 'opsz' 18;
}

h3 {
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1.3;
  font-variation-settings: 'opsz' 12;
}

h4 {
  font-style: italic;
  font-size: 1.125rem;
  font-weight: 750;
  line-height: 1.4;
  font-variation-settings: 'opsz' 12;
}

hgroup span {
  color: var(--accent);
}
hgroup h1 {
  margin-top: 0 !important;
}

strong {
  font-weight: 750;
  letter-spacing: 0.02rem;
}

small {
  font-size: 0.85rem;
  font-weight: 520;
}

code {
  font-family: "iAWriterMono", monospace;
  background: #00000015;
  border-radius: 0.25rem;
  padding: 0 0.25rem;
}

pre {
  padding: 1rem;
  background: #00000015;
  border-radius: 0.5rem;
  border: 2px solid #00000020;
}
pre code {
  background: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  background: var(--background);
  border: 1.5px solid var(--accent);
  background: var(--accent-transparent);
  cursor: pointer;
  transition: all 0.3s ease-out;
  backdrop-filter: blur(2rem);
}
button * {
  color: var(--accent) !important;
  fill: var(--accent);
}
button a {
  display: flex;
  align-items: center;
  padding: 0.3rem 1rem;
  text-decoration: none;
 
  transition: all 0.3s ease-out;
}
button svg {
  width: 1rem;
  height: 1rem;
  margin-left: 0.5rem;
  margin-right: -0.25rem;
}
button:hover {
  background: var(--accent);
  transition: none;
}
button:hover * {
  color: var(--background) !important;
  fill: var(--background);
}
button:active {
  opacity: 0.8;
}

.small-caps {
  font-family: "SourceSans", sans-serif !important;
  font-variant-caps: all-small-caps;
  font-weight: 520 !important;
  letter-spacing: 1.0 !important;
}


/* Article */

article {
  flex: 1;

  display: flex;
  flex-direction: column;
  align-items: center;
}

article hgroup {
  margin-top: 6rem;
}

article h1,
article h2 {
  position: relative;
  cursor: pointer;
}

article h1::before,
article h2::before {
  content: "";
  width: 1.5rem;
  padding-right: 2.5rem;
  margin-left: -2.5rem;
  background-image: url('../icons/hashtag.svg');
  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.3s ease-out;
  opacity: 0;
}
article h2::before {
  background-position-y: 0.75rem !important;
}

article h1.copied::before,
article h2.copied::before {
  content: "";
  width: 1.5rem;
  padding-right: 2.5rem;
  margin-left: -2.5rem;
  background-image: url('../icons/checkmark.svg');
  background-repeat: no-repeat;
  background-position: center;
}

article h2::before {
  background-position-y: 0.75rem !important;
}

article h1:hover::before,
article h2:hover::before,
article h1.copied::before,
article h2.copied::before {
  opacity: 1;
}

article h1,
article h2,
article h3,
article h4,
article > p,
article > ul,
article > ol,
article blockquote,
article pre,
article figure {
  width: 38rem;
  margin-top: 2rem;
}

@media (max-width: 42rem) {
  article hgroup,
  article h1,
  article h2,
  article h3,
  article h4,
  article p,
  article ul,
  article ol,
  article blockquote,
  article pre,
  article figure {
    width: 100%;
  }
}

article h1 + p,
article h2 + p,
article h1 + ul,
article h2 + ul,
article h1 + ol,
article h2 + ol {
  margin-top: 1.5rem;
}
article h3 + p,
article h4 + p {
  margin-top: 1rem;
}

/* Subheading style */
article hgroup + p:has(> em:first-child),
article h3 + p:has(> em:first-child) {
  margin-top: 0.25rem;
}

article figure + h1,
article figure + h2,
article figure + h3,
article figure + h4,
article figure + p,
article figure + ul,
article figure + ol {
  margin-top: 4rem;
}

@media (max-width: 42rem) {
  article figure + h1,
  article figure + h2,
  article figure + h3,
  article figure + h4,
  article figure + p,
  article figure + ul,
  article figure + ol {
    margin-top: 2rem;
  }
}

article > ul,
article > ol {
  display: flex;
  flex-direction: column;
  margin-top: 1.5rem;
  counter-reset: item;
  gap: 0.75rem;
}
article > ul li p,
article > ol li p {
  margin-top: 0;
  line-height: 2rem;
}
article > ul li,
article > ol li {
  counter-increment: item;
  position: relative;
  padding-left: 1.75rem;
}
article > ul li::before {
  content: "—";
  line-height: 2rem;
  margin-right: 0.5rem;
}

article > ol li::before {
  content: counters(item, ".") ". ";
  position: absolute;
  left: 0;
  color: var(--text-tertiary);
}

article a,
article a * {
  color: currentColor;
  transition: all 0.3s ease-out;
}
article a:hover,
article a:hover * {
  color: var(--accent);
  transition: none !important;
}

article > figure {
  position: relative;
  margin-top: 4rem;
}

@media (max-width: 50rem) {
  article > figure {
    margin-top: 4rem;
    width: calc(100% + 4rem);
  }  
  article > figure + figure {
    margin-top: 0.75rem;
  }
}

article > figure ul {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

article > figure img {
  width: 100%;
  object-fit: cover;
}

article > figure iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
}
article > figure video {
  width: 100%;
}

article figcaption {
  position: absolute;
  top: 0;
  left: 40rem;
  width: 12rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
article figcaption * {
  font-family: "SourceSans", sans-serif;
  font-size: 0.85rem;
  font-weight: 520;
  color: var(--green-light);
}
article figcaption strong {
  font-weight: 800;
}

@media (min-width: 86rem) {
  article figcaption {
    left: 42rem;
    width: 16rem;
  }
}
@media (max-width: 68rem) {
  article figcaption {
    position: relative;
    left: 0;
    margin-top: 1rem;
    max-width: 38rem;
  }
}
@media (max-width: 50rem) {
  article figcaption {
    margin: 1rem 2rem 0 2rem;
  }
}

article blockquote {
  color: var(--accent);
  font-style: italic;
  padding-left: 1.5rem;
  /* border-left: 1.5px solid var(--accent); */
  background-image: url('../icons/wave.svg');
  background-repeat: no-repeat;
  background-position-y: -0.2rem;
}
article blockquote * {
  color: var(--accent);
}


/* Citations */

span.citation {
  background: var(--fill);
  padding-bottom: 0.2rem;
  scroll-margin-top: 40vh;
  transition: all 0.3s ease-out;
}
span.citation * {
  color: var(--text-secondary);
  font-family: "SourceSans", sans-serif;
  font-weight: 520;
  font-style: normal;
  font-variant-caps: all-small-caps;
  letter-spacing: 1.0;
  hyphens: none;
}
span.citation a {
  padding: 0 0.25rem 0.2rem 0.25rem;
  background-image: none;
}

span.citation:hover {
  background: var(--accent-transparent);
  transition: none;
}

span.citation.highlighted {
  background: var(--accent-transparent);
}
span.citation.highlighted * {
  color: var(--accent);
}


/* Back to Citation Button */

#back-to-citation {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 1000;
  
  opacity: 0;
  visibility: hidden;
}

#back-to-citation.visible {
  opacity: 1;
  visibility: visible;
}

@media (max-width: 26rem) {
  #back-to-citation {
    bottom: 3rem;
    right: 1rem;
  }
}


/* Home */

.hero-section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 4rem 0;
}

.hero-section--logo {
  display: flex;
  align-items: center;
}
.hero-section--logo div {
  display: flex;
  flex-direction: column;
}
.hero-section--logo * {
  line-height: 1.45rem;
}
.hero-section--logo span:first-of-type {
  font-style: italic;
}
.hero-section--logo::before {
  content: url("/assets/icons/logo.svg");
  margin-right: 0.75rem;
}

.hero-section--title {
  width: 38rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.hero-section--title div:first-of-type * {
  font-family: "InstrumentSerif", serif;
  font-size: 5.5rem;
  line-height: 1.05;
  display: flex;
  flex-direction: column;
}
.hero-section--title div:last-of-type {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-section--title p {
  font-style: italic;
}

@media (max-width: 42rem) {
  .hero-section {
    width: 100%;
  }
  .hero-section--title {
    width: 100%;
    gap: 0.5rem;
  }
  .hero-section--title div:first-of-type * {
    font-size: 4.5rem;
  }
  .hero-section--title div:last-of-type {
    flex-direction: column;
    align-items: flex-start;
    gap: 2.5rem;
  }
}


/* Bibliography */

ul.bibliography {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
ul.bibliography * {
  color: var(--text-secondary);
}

ul.bibliography li {
  display: block;
  scroll-margin-top: 12rem;
  padding: 0.5rem 1rem;
  margin: -0.5rem -1rem;
  transition: all 0.5s ease-out;
}
ul.bibliography li * {
  transition: all 0.5s ease-out;
}
ul.bibliography li:before {
  content: none;
}

ul.bibliography li > span {
  font-weight: 670;
  letter-spacing: 0.2;
  color: var(--text-primary);
}

ul.bibliography a {
  display: inline-block;
  max-width: 100%;
  max-height: 1.85rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 0.125rem 0.35rem 0.125rem 0.125rem;
  color: var(--text-tertiary);
  background: #00000008;
  transition: all 0.3s ease-out;
}
ul.bibliography a span {
  white-space: nowrap;
}

ul.bibliography a::before {
  content: "";
  padding-right: 1rem;
  margin: 0.25 0.25rem; 
  background-image: url('../icons/link.svg');
  background-repeat: no-repeat;
  background-position-y: 0.125rem;
  padding-bottom: 0.5rem;
  transition: all 0.3s ease-out;
}

ul.bibliography a:hover {
  background-image: url('../icons/arrow.svg');
  background: var(--accent-transparent);
  color: var(--accent-secondary);
  transition: none;
}
ul.bibliography a:hover::before {
  background-image: url('../icons/arrow.svg');
  transition: none;
}

ul.bibliography li.highlighted {
  background: var(--accent-transparent);
  color: var(--accent);
}
ul.bibliography li.highlighted * {
  color: var(--accent);
}


/* Side Navigation */

.side-nav {
  position: absolute;
  top: calc(100vh + 6rem);
  left: calc(50vw - 33rem);
  width: 12rem;
  z-index: 10;
  border-left: 1.5px solid var(--text-quaternary);
}
.side-nav.fixed {
  position: fixed;
  top: 4rem;
}

.side-nav a {
  display: flex;
  justify-content: space-between;
  align-items: top;
  padding-left: 1rem;
  margin-left: -1.5px;
  border-left: 1.5px solid transparent;  
}

.side-nav a span {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  font-family: "SourceSans";
  font-size: 0.85rem;
  font-weight: 600;
  letter-spacing: 0.2;
  line-height: 1.2;
  color: var(--text-tertiary);
  transition: color 0.3s ease-out;
  text-decoration: none;
}

.side-nav a:hover {
  color: var(--accent) !important;
  background: var(--accent-transparent-light);
  transition: none;
}

.side-nav a.active {
  color: var(--accent) !important;
  border-left: 1.5px solid var(--accent);
  background: var(--accent-transparent);
}
.side-nav a.active svg {
  fill: var(--accent-secondary) !important;
}

.side-nav a.chapter * {
  color: var(--text-secondary);
}

.side-nav a.chapter .chevron {
  box-sizing: content-box;
  padding: 0.5rem;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  transition: background 0.2s ease-out;
}
.side-nav a.chapter svg {
  width: 1rem;
  height: 1rem;
  fill: var(--text-tertiary);
  transition: transform 0.2s ease;
}

.side-nav a.chapter .chevron:hover {
  background: var(--accent-transparent);
  transition: none;
}
.side-nav a.chapter .chevron:hover svg {
  fill: var(--accent) !important;
}

@media (min-width: 86rem) {
  .side-nav {
    left: calc(50vw - 39rem);
    width: 16rem;
  }
}
@media (max-width: 68rem) {
  .side-nav {
    display: none;
  }
}


/* Sidenotes */

.sidenote-anchor {
  position: relative;
}

.sidenote {
  /* Vertical position and collision detection handled by JavaScript */
  position: fixed;
  left: calc(50vw + 21rem);
  width: 12rem;
  font-family: "SourceSans", sans-serif;
  font-size: 0.85rem;
  font-weight: 520;
  font-style: normal;
  color: var(--green-light);
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  z-index: 1;
}

@media (min-width: 86rem) {
  .sidenote {
    left: calc(50vw + 23rem);
    width: 16rem;
  }
}
@media (max-width: 68rem) {
  .sidenote {
    /* Position off-screen at the bottom */
    bottom: -100vh;
    left: 0;
    right: 0;
    width: 100vw;
    transition: bottom 0.3s ease-in-out;
    color: var(--green-light);
    background: var(--background);
    box-shadow: 0 -4px 3rem #00000040;
    padding: 2rem;
    z-index: 10;
    position: relative;
    display: grid;
    justify-content: center;
    grid-template-columns: minmax(0, 38rem);
  }
  
  .sidenote::before {
    content: '';
    position: absolute;
    top: -0.4rem;
    left: 0;
    right: 0;
    height: 0.5rem;
    background-image: url('/assets/icons/wave-edge.svg');
    background-repeat: repeat-x;
    background-size: auto 100%;
    background-position: top center;
    pointer-events: none;
  }
  
  .sidenote.active {
    bottom: 0;
  }
  
  .sidenote-close {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: none;
    background: none !important;
    backdrop-filter: none;
    padding: 0;
    z-index: 11;
  }
  
  .sidenote-close:hover {
    background: #00000010 !important;
  }
  
  .sidenote-close svg {
    width: 1rem;
    height: 1rem;
    margin: 0;
  }
  .sidenote-close svg path {
    fill: var(--text-secondary);
  }
  
  .sidenote-toggle {
    position: fixed;
    right: 0.5rem;
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 0.65rem; /* Adjustment to place on row middle */
    border-radius: 50%;
    background: var(--accent-transparent);
    color: var(--background);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9;
    transition: transform 0.2s ease, background 0.2s ease;
  }
  
  .sidenote-toggle svg {
    width: 1rem;
    height: 1rem;
    margin: auto;
  }
  
  .sidenote-toggle svg path {
    fill: var(--accent);
  }
  
  .sidenote-toggle:hover svg path {
    fill: var(--background);
  }
  
  .sidenote-toggle.active {
    background: var(--accent);
  }
  
  .sidenote-toggle.active svg path {
    fill: var(--background) !important;
  }
}


/* Info Panel */

.info-panel {
  position: fixed;
  display: none;
  flex-direction: column;
  gap: 1rem;
  right: 1rem;
  top: 4.5rem;
  width: 20rem;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  background: var(--fill);
  backdrop-filter: blur(4rem);
  z-index: 100;
  border: 1.5px solid #00000010;
}
.info-panel * {
  font-size: 0.85rem;
}

.info-panel.active {
  display: flex;
}


/* Navigation */

.nav {
  position: fixed;

  width: 100vw;
  padding: 1rem;
  z-index: 100;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.nav a {
  display: none;
  padding: 0.5rem;
  border-radius: 1.25rem;
  background: var(--fill);
}

.nav a,
.nav a * {
  fill: var(--text-secondary);
  transition: all 0.3s ease-out;
}
.nav a:hover {
  background: var(--accent-transparent);
  transition: none;
}
.nav a:hover * {
  fill: var(--accent);
  transition: none;
}

.nav a.active {
 display: block;
}


/* Footer */

footer {
  width: 100%;
  background: #00000010;
  margin-top: 6rem;
  padding: 3rem 2rem 2rem 2rem;
}

footer > div {
  max-width: 38rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
}
footer * {
  font-family: "SourceSans", sans-serif;
  font-size: 1rem;
  font-weight: 450;
  letter-spacing: 0.15;
  color: var(--text-secondary);
}

footer nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer nav * {
  font-size: 0.85rem;
  font-weight: 520;
}
footer span {
  color: var(--text-tertiary);
}

footer nav div {
  display: flex;
}

@media (max-width: 32rem) {
  footer > div{
    gap: 2rem;
  }
  footer nav {
    flex-direction: column;
    align-items: flex-start;
  }
  footer nav div {
    margin-left: -0.5rem;
  }
  footer a {
    padding: 0.5rem !important;
  }
}

footer a {
  padding: 1rem;
  transition: color 0.4s ease-out;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
footer a:hover {
  color: var(--accent);
  transition: none;
}

footer .badges {
  display: flex;
  gap: 0.5rem;
}
footer .badges img {
  image-rendering: pixelated;
}

@media (max-width: 27rem) {
  footer .badges {
    display: grid;
    grid-template-columns: 88px 88px;
  }
}
