@import url("normalize.css");
@import url("fonts.css");

:root {

  /* Colors */

  --text-primary: #353D37;
  --text-secondary: #72746E;
  --text-tertiary: #353D3770;
  --text-quaternary: #353D3740;

  --text-light: #FFF4E2;

  --accent: #FF4B14;
  --accent-transparent: #FF4B1420;

  --background: #FDF9EE;
}

::selection {
  background: var(--accent-transparent);
}

html {
  background: var(--background);
}

* {
  font-display: block;
  text-rendering: optimizeLegibility;
  
  scroll-behavior: smooth;

  font-family: "SourceSans", -apple-system, sans-serif;
  font-size: 1rem;
  font-weight: 450;
  letter-spacing: 0.15;
  line-height: 1.6;
  text-wrap: pretty;

  color: var(--text-primary);
}

body {
  width: 100vw;
  display: flex;
  flex-direction: column;
  
  display: flex;
}

main {
  flex: 1;
  margin: 0 auto;

  width: 100%;
  max-width: 50rem;

  display: flex;
  flex-direction: column;

  padding: 5rem 2rem 0 2rem;
}

p,
p *,
ul,
ul * {
  font-family: "Nice", serif;
  font-weight: 400;
  font-variation-settings: "opsz" 6;
  hyphens: auto;
  word-wrap: break-word;
  overflow-wrap: break-word;
  line-break: strict;
  text-wrap: pretty;
}

h1 {
  font-family: "Garamond", serif;
  font-style: italic;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.2;
  font-variation-settings: 'opsz' 12;
}

h2 {
  font-family: "Nice", serif;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1.3;
  font-variation-settings: 'opsz' 6;
}

h3 {
  font-family: "Nice", serif;
  font-size: 1.125rem;
  font-weight: 800;
  line-height: 1.3;
  font-variation-settings: 'opsz' 6;
}

hgroup span {
  color: var(--accent);
}
hgroup h1 {
  margin-top: 0.5rem !important;
}

strong {
  font-weight: 750;
  letter-spacing: 0.02rem;
}

small {
  font-size: 0.8rem;
  font-weight: 500;
}

code {
  font-family: "iAWriterMono", monospace;
  background: #00000015;
  border-radius: 0.25rem;
  padding: 0 0.25rem;
}

pre {
  padding: 1rem;
  background: #00000015;
  border-radius: 0.5rem;
  border: 2px solid #00000020;
}
pre code {
  background: none;
}

p.quote,
p.quote * {
  font-family: "Nice", serif;
  font-style: italic;
  text-align: center;
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.4;
  letter-spacing: 0.015rem;
  font-variation-settings: 'opsz' 6;
}

p.lead,
p.lead * {
  font-size: 1.4rem;
}

p.quote a,
p.lead a {
  color: currentColor;
  background-image: url('../icons/wave-neutral.svg');
  background-repeat: no-repeat;
  background-position: center 1.6rem;
  padding-bottom: 0.5rem;
  transition: color 0.4s ease-out;
}
p.quote a:hover,
p.lead a:hover {
  color: var(--accent);
  background-image: url('../icons/wave-accent.svg');
  transition: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  background: var(--background);
  border-radius: 0.5rem;
  border: 1px solid var(--text-primary);
  cursor: pointer;
  transition: background-color 0.4s ease-out;
}
button a {
  display: block;
  padding: 0.5rem 1rem;
  color: var(--text-primary);
  text-decoration: none !important;
 
  transition: background-color 0.4s ease-out;
}
button:hover {
  background: var(--text-primary) !important;
  transition: none;
}
button.primary {
  background: var(--text-primary);
}
button.primary a {
  color: var(--text-light);
}
button:active {
  opacity: 0.8;
}

.small-caps {
  font-family: "SourceSans", sans-serif !important;
  font-variant-caps: all-small-caps;
  font-weight: 500 !important;
  letter-spacing: 1.0;
}


/* Article */

article {
  flex: 1;

  margin-top: 4rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

article hgroup {
  margin-top: 6rem;
}

article h1,
article h2,
article h3,
article > p,
article > ul,
article > ol,
article blockquote,
article pre {
  width: 38rem;
  margin-top: 2rem;
}

@media (max-width: 42rem) {
  article hgroup,
  article h1,
  article h2,
  article h3,
  article p,
  article ul,
  article ol,
  article blockquote,
  article pre {
    width: 100%;
  }
}

article h1 + p,
article h2 + p,
article h1 + ul,
article h2 + ul,
article h1 + ol,
article h2 + ol {
  margin-top: 1.5rem;
}
article h3 + p {
  margin-top: 1rem;
}

article figure + h1,
article figure + h2,
article figure + h3,
article figure + p,
article figure + ul,
article figure + ol {
  margin-top: 4rem;
}

@media (max-width: 42rem) {
  article figure + h1,
  article figure + h2,
  article figure + h3,
  article figure + p,
  article figure + ul,
  article figure + ol {
    margin-top: 2rem;
  }
}

article > ul,
article > ol {
  margin-top: 1.5rem;
  counter-reset: item;
}
article > ul li p,
article > ol li p {
  margin-top: 0;
  line-height: 2rem;
}
article > ul li,
article > ol li {
  display: flex;
  counter-increment: item;
  line-height: 2rem;
}
article > ul li::before {
  content: "—";
  line-height: 2rem;
  margin-right: 0.5rem;
}

article > ol li::before {
  content: counters(item, ".") ". ";
  line-height: 2rem;
  margin-right: 0.5rem;
  margin-left: 2.3rem;
}

article a {
  color: currentColor;
  background-image: url('../icons/wave-neutral.svg');
  background-repeat: no-repeat;
  background-position: center 1.1rem;
  padding-bottom: 0.5rem;
  transition: color 0.4s ease-out;
}
article a:hover {
  color: var(--accent);
  background-image: url('../icons/wave-accent.svg');
  transition: none;
}
article a:hover * {
  color: var(--accent);
}

article > figure {
  margin-top: 4rem;
  width: 100%;
  overflow: hidden;
}

@media (max-width: 50rem) {
  article > figure {
    margin-top: 4rem;
  }  
  article > figure + figure {
    margin-top: 0.75rem;
  }
}

article > figure img {
  width: 100%;
  object-fit: cover;
}

article > figure iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
}
article > figure video {
  width: 100%;
}

article figcaption {
  margin-top: 1rem;

  font-size: 0.8rem;
  color: var(--text-secondary);
}

article blockquote {
  color: var(--accent);
  font-style: italic;
  padding-left: 1.5rem;
  border-left: 1.5px solid var(--accent);
}
article blockquote * {
  color: var(--accent);
}


/* Citations */

span.citation {
  background: #7E8C8315;
  padding-bottom: 0.2rem;
}
span.citation * {
  color: var(--text-secondary);
  font-family: "SourceSans", -apple-system, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-variant-caps: all-small-caps;
  letter-spacing: 1.0;
  hyphens: none;
}
span.citation a {
  padding: 0 0.25rem 0.2rem 0.25rem;
  background-image: none;
}

span.citation:hover {
  background: var(--accent-transparent);
}


/* Home */

.title {
  width: 38rem;
}
.title div * {
  font-family: "Garamond", serif;
  font-size: 6rem;
  line-height: 1.0;
  display: flex;
  flex-direction: column;
}
.title > p {
  font-style: italic;
}

@media (max-width: 42rem) {
  .title {
    width: 100%;
  }
  .title div * {
    font-size: 5rem;
  }
}


/* Bibliography */

ul.bibliography {
  display: flex;
  flex-direction: column;
  gap: 1.5rem; 
}
ul.bibliography * {
  color: var(--text-secondary);
}

ul.bibliography li {
  display: block;
  scroll-margin-top: 12rem;
  padding: 0.5rem 1rem;
  margin: -0.5rem -1rem;
  transition: all 0.5s ease-out;
}
ul.bibliography li * {
  transition: all 0.5s ease-out;
}
ul.bibliography li:before {
  content: none;
}

ul.bibliography li span {
  font-weight: 670;
  letter-spacing: 0.2;
  color: var(--text-primary);
}

ul.bibliography li a {
  background: none;
}

ul.bibliography li.highlighted {
  background: var(--accent-transparent);
  color: var(--accent);
}
ul.bibliography li.highlighted * {
  color: var(--accent);
}


/* Side Navigation */

.side-nav {
  position: absolute;
  top: 36rem;
  left: calc(50vw - 33rem);
  width: 12rem;
  z-index: 10;
  border-left: 1.5px solid var(--text-quaternary);
}
.side-nav.fixed {
  position: fixed;
  top: 4rem;
}
.side-nav a {
  display: block;
  padding: 0.125rem 1rem;
  margin-left: -1.5px;
  border-left: 1.5px solid transparent;
  font-family: "Nice", serif;
  font-weight: 400;
  font-variation-settings: "opsz" 6;

  transition: color 0.2s ease-out;
}
.side-nav a:hover {
  color: var(--accent) !important;
  
  transition: none;
}
.side-nav a.active {
  color: var(--accent) !important;
  border-left: 1.5px solid var(--accent);
  background: var(--accent-transparent);
}

.side-nav a.small-caps {
  color: var(--text-tertiary);
}
.side-nav a.small-caps:not(:first-of-type) {
  margin-top: 1rem;
}

@media (max-width: 68rem) {
  .side-nav {
    display: none;
  }
}


/* Navigation */

.nav {
  position: fixed;

  width: 100vw;
  padding: 1rem 2rem;
  left: 1;
  z-index: 100;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #00000010;
  backdrop-filter: blur(32px);

  transition: height 0.3s, padding 0.3s, background-color 0.3s, backdrop-filter 0.3s;
}

@media (max-width: 38rem) {
  .nav {
    flex-direction: column;
    gap: 1rem;
  }
  .nav button {
    display: none;
  }
}

.nav--pages > a {
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.nav--pages > a:hover {
  background-color: #00000008;
}
.nav--pages > a[aria-current] {
  background-color: #00000012;
}

.nav--pages button {
  margin-left: 1.5rem;
}

.nav--logo img {
  height: 2rem;

  user-drag: none;
  pointer-events: auto;
  -webkit-user-drag: none;
}


/* Footer */

footer {
  width: 100%;
  background: #00000010;
  margin-top: 6rem;
  padding: 3rem 2rem 2rem 2rem;
}

footer > div {
  max-width: 38rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
}
footer * {
  color: var(--text-secondary);
}

footer nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer nav * {
  font-size: 0.8rem;
  font-weight: 500;
}
footer span {
  color: var(--text-tertiary);
}

footer nav div {
  display: flex;
}

@media (max-width: 32rem) {
  footer > div{
    gap: 2rem;
  }
  footer nav {
    flex-direction: column;
    align-items: flex-start;
  }
  footer nav div {
    margin-left: -0.5rem;
  }
  footer a {
    padding: 0.5rem !important;
  }
}

footer a {
  padding: 1rem;
  transition: color 0.4s ease-out;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
footer a:hover {
  color: var(--accent);
  transition: none;
}

footer .badges {
  display: flex;
  gap: 0.5rem;
}
footer .badges img {
  image-rendering: pixelated;
}

@media (max-width: 27rem) {
  footer .badges {
    display: grid;
    grid-template-columns: 88px 88px;
  }
}
